<!-- Nav bar -->
<nav class="nav-bar">
    <div class="logo">
        <a href="../index.html">
            <!-- to be replaced with logo  -->
            HOMES
        </a>
    </div>

    <ul class="links" style="margin-bottom:0px;">
        <li><a href="../index.html#hero-section">HOME</a></li>
        <li><a href="property-list.html">PROPERTIES</a></li>
        <li><a href="#about-us-section">ABOUT US</a></li>
        <li><a href="#">OUR SERVIECES</a></li>
        <li><a href="../index.html#contact-us-section">CONTACT US</a></li>
    </ul>
    <div class="end-buttons">
        <a href="" class="big-red-button advertise-here">Advertise here!</a>
        <a href="signUp.html" class="big-red-button sign-btn">Sign Up</a>
    </div>

    <div class="toggle-btn" onclick="handleToggleButton()">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>

<div class="dropdown-menu">
    <li><a href="../index.html#hero-section">HOME</a></li>
    <li><a href="#">PROPERTIES</a></li>
    <li><a href="#about-us-section">ABOUT US</a></li>
    <li><a href="#">OUR SERVIECES</a></li>
    <li><a href="../index.html#contact-us-section">CONTACT US</a></li>

    <li><a href="" class="big-red-button advertise-here">Advertise Here</a></li>
    <li><a href="login.html" class="big-red-button sign-btn">Login</a></li>
</div>