/* ------------------------------------------------------- Login page -----------------------------------------------------*/
.login-container {
    margin: 2rem auto;
    text-align: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--shadow-1);
    padding: 2rem;
    min-width: 35rem;
    max-width: 50rem;
    border: 0.5px solid var(--primary-2);
    border-radius: var(--radius-large);
}

.login-container h3{
    text-transform: capitalize;
    text-transform: capitalize;
    font-weight: 500;
}

.login-container a{
    color: var(--secondry-1);
}

.login-container label{
    width: 100%;
    text-align: left;
    margin-bottom: 0.4rem;
    text-transform: capitalize;
    font-weight: 600;

}

.login-container a:hover{
    text-decoration: underline;
}

.form-control:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 5px var(--primary);
}


.btn-login{
    background-color: var(--secondry-1);
    color: var(--white);
    width: 90%;
}

.btn-login:hover{
    background-color: var(--primary-2);
    color: var(--white);
    transition: background-color 1.5s, color 1.5s, transform 0.75s;
    transform: scale(1.05);
    transform-origin: center;
}
.login-container hr{
    flex: 1; 
    border: none; 
    border-top: 2px solid var(--primary-2);
    margin: 0 10px;
}

#forgotPass{
    width: 100%;
    text-align: left;
}

@media (max-width: 668px) {
    .login-container {
        padding: 1rem;
        max-width: 95%;
        min-width: 20rem;
    }
}
