#main-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media screen and (min-width: 992px) {
    #main-image{
        height: 500px;
        object-fit: cover;
    }
    
}
#company-logo{
    width: 64px;
}
#features *{
    list-style: unset;
    list-style-type: "\2605";
}
#property-price{
    font-size: 2rem;
}
#product-side-info-container{
    max-width: 600px;
}
#map { height: 400px; }
